<?xml version="1.0"?>
<config>
    <modules>
        <A2_giftregistry>
            <version>0.1.0</version>
        </A2_giftregistry>
    </modules>
    <global>
        <models>
            <a2_giftregistry>
                <class>A2_giftregistry_Model</class>
                <resourceModel>a2_giftregistry_mysql4</resourceModel>
            </a2_giftregistry>
            <a2_giftregistry_mysql4>
                <class>A2_giftregistry_Model_Mysql4</class>
                <entities>
                    <entity>
                        <table>a2_giftregistry_entity</table>
                    </entity>
                    <entity>
                        <table>a2_giftregistry_item</table>
                    </entity>
                    <entity>
                        <table>a2_giftregistry_type</table>
                    </entity>
                </entities>
            </a2_giftregistry_mysql4>
        </models>
        <blocks>
            <a2_giftregistry>
                <class>A2_giftregistry_Block</class>
            </a2_giftregistry>
        </blocks>
        <helpers>
            <a2_giftregistry>
                <class>A2_giftregistry_Helper</class>
            </a2_giftregistry>
        </helpers>
        <resources>
            <a2_giftregistry_setup>
                <setup>
                    <module>A2_giftregistry</module>
                    <class>A2_giftregistry_Model_Resource_Setup</class>
                </setup>
                <connection>
                    <use>core_setup</use>
                </connection>
            </a2_giftregistry_setup>
            <a2_giftregistry_write>
                <connection>
                    <use>core_write</use>
                </connection>
            </a2_giftregistry_write>
            <a2_giftregistry_read>
                <connection>
                    <use>core_read</use>
                </connection>
            </a2_giftregistry_read>
        </resources>
    </global>
</config>